---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Pokedex",
    description:
      "Desarrollado con Next.js y TypeScript para asegurar un código limpio y estructurado. Además, se integra con la API de Pokémon mediante Axios para obtener datos de manera eficiente y proporcionar una experiencia óptima.",
    link: "https://next-pokedex-app.netlify.app/",
    github: "https://github.com/drakkomaximo/next-pokemon-app",
    image: "/projects/image1.png",
    tags: [TAGS.NEXT],
  },
  {
    title: "Todo list",
    description:
      "Desarrollado con React, usando estilos modernos utilizando Tailwind CSS. La persistencia de la información a nivel local se logra de manera eficiente mediante el uso de Local Storage, asegurando que tus tareas estén siempre disponibles.",
    link: "https://todo-react-tailwind-test.netlify.app/",
    github: "https://github.com/drakkomaximo/react-todo-tailwind",
    image: "/projects/image2.png",
    tags: [TAGS.TAILWIND],
  },
  {
    title: "Heroes App",
    description:
      "Construida con React, esta aplicación aprovecha las ventajas de una arquitectura (SPA) para una navegación fluida entre las rutas. Cuenta con un buscador reactivo y la persistencia de la sesión está garantizada mediante el uso eficiente de Local Storage.",
    link: "https://herroes-app.netlify.app/marvel",
    github: "https://github.com/drakkomaximo/my-hero-app",
    image: "/projects/image3.png",
    tags: [],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="hidden duration-700 ease-in-out" data-carousel-item>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
